{% extends "main.html" %}

{% block content %}

<div align="center">
<h1 class="highlight" style="margin: -10px;">404</h1>
<h1 class="warning-text"">Sayfa bulunamadı</h1>

<hr style="margin: -1rem 15rem 2em">

<div class="admonition warning">
    <h3 class="admonition-title highlight">Ufak bir uyarı</h3>
    <p class="warning-text">Sitemizde <b>aratmış olduğunuz bağlantıya</b> dair bir sayfa bulunmuyor. <br>
    Arattığınız bağlantıyı <b>tekrar kontrol edin</b>.</p>
</div>

</div>

{% endblock %}